body {
  font-family: sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calendar {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  font-size: 0.75rem;
}

#calendar-label {
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid rgb(240 240 240);
}

td,
th {
  width: 2.2rem;
  font-weight: normal;
  text-align: center;
  height: 2.2rem;
}

.tool-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0;
}

.action button {
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  background: transparent;
}

.current-date {
  color: rgb(38, 132, 240);
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px rgb(90 90 90);
}

.visually-hidden {
  position: absolute;
  left: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  margin: -1px;
}